all files/c++/song/unkown.txt
all files/c++/song/i.txt
all files/c++/song/u.txt
all files/c++/song/desert_me.txt
all files/c++/song/to.txt
all files/c++/song/i, me.txt
all files/c++/song/opposite.txt
all files/c++/song/pessimistic.txt
all files/c++/song/run.txt
all files/c++/song/pain.txt
all files/c++/song/pessimist.txt
all files/c++/song/paradox.txt
all files/c++/song/don't look at(won't be released)/to.txt
all files/c++/song/don't look at(won't be released)/u.txt
