html:not(#z) {
    --color-ref-primary0: #000000ff;
    --color-ref-primary10: #001f24ff;
    --color-ref-primary20: #00363dff;
    --color-ref-primary25: #00424aff;
    --color-ref-primary30: #004f58ff;
    --color-ref-primary40: #006874ff;
    --color-ref-primary50: #008391ff;
    --color-ref-primary60: #369eacff;
    --color-ref-primary70: #56b9c8ff;
    --color-ref-primary80: #74d5e4ff;
    --color-ref-primary90: #97f0ffff;
    --color-ref-primary95: #d0f8ffff;
    --color-ref-primary99: #f6feffff;
    --color-ref-primary100: #ffffffff;
    --color-ref-secondary0: #000000ff;
    --color-ref-secondary10: #051f23ff;
    --color-ref-secondary12: #092327ff;
    --color-ref-secondary15: #10292dff;
    --color-ref-secondary20: #1c3438ff;
    --color-ref-secondary25: #273f43ff;
    --color-ref-secondary30: #334b4fff;
    --color-ref-secondary35: #3e565bff;
    --color-ref-secondary40: #4a6267ff;
    --color-ref-secondary50: #637b80ff;
    --color-ref-secondary60: #7c959aff;
    --color-ref-secondary70: #96b0b4ff;
    --color-ref-secondary80: #b1cbd0ff;
    --color-ref-secondary90: #cde7ecff;
    --color-ref-secondary95: #dbf6faff;
    --color-ref-secondary99: #f6feffff;
    --color-ref-secondary100: #ffffffff;
    --color-ref-tertiary0: #000000ff;
    --color-ref-tertiary10: #0e1b37ff;
    --color-ref-tertiary20: #24304dff;
    --color-ref-tertiary30: #3b4664ff;
    --color-ref-tertiary40: #525e7dff;
    --color-ref-tertiary50: #6b7697ff;
    --color-ref-tertiary60: #8490b2ff;
    --color-ref-tertiary70: #9faaceff;
    --color-ref-tertiary80: #bac6eaff;
    --color-ref-tertiary90: #dae2ffff;
    --color-ref-tertiary95: #eef0ffff;
    --color-ref-tertiary99: #fefbffff;
    --color-ref-tertiary100: #ffffffff;
    --color-ref-error0: #000000ff;
    --color-ref-error10: #410002ff;
    --color-ref-error20: #690005ff;
    --color-ref-error30: #93000aff;
    --color-ref-error40: #ba1a1aff;
    --color-ref-error50: #de3730ff;
    --color-ref-error60: #ff5449ff;
    --color-ref-error70: #ff897dff;
    --color-ref-error80: #ffb4abff;
    --color-ref-error90: #ffdad6ff;
    --color-ref-error95: #ffedeaff;
    --color-ref-error99: #fffbffff;
    --color-ref-error100: #ffffffff;
    --color-ref-neutral0: #000000ff;
    --color-ref-neutral4: #090f10ff;
    --color-ref-neutral6: #0e1415ff;
    --color-ref-neutral8: #13191aff;
    --color-ref-neutral10: #171d1eff;
    --color-ref-neutral12: #1b2122ff;
    --color-ref-neutral15: #212728ff;
    --color-ref-neutral17: #252b2cff;
    --color-ref-neutral20: #2b3133ff;
    --color-ref-neutral22: #303637ff;
    --color-ref-neutral24: #343a3bff;
    --color-ref-neutral25: #363c3eff;
    --color-ref-neutral30: #424849ff;
    --color-ref-neutral40: #595f61ff;
    --color-ref-neutral50: #727879ff;
    --color-ref-neutral60: #8c9293ff;
    --color-ref-neutral70: #a6acadff;
    --color-ref-neutral80: #c2c7c9ff;
    --color-ref-neutral87: #d5dbdcff;
    --color-ref-neutral90: #dee3e5ff;
    --color-ref-neutral92: #e3e9eaff;
    --color-ref-neutral94: #e9eff0ff;
    --color-ref-neutral95: #ecf2f3ff;
    --color-ref-neutral96: #eff5f6ff;
    --color-ref-neutral98: #f5fafbff;
    --color-ref-neutral99: #f8fdfeff;
    --color-ref-neutral100: #ffffffff;
    --color-ref-neutral-variant0: #000000ff;
    --color-ref-neutral-variant10: #141d1fff;
    --color-ref-neutral-variant15: #1e2729ff;
    --color-ref-neutral-variant20: #293234ff;
    --color-ref-neutral-variant30: #3f484aff;
    --color-ref-neutral-variant40: #576062ff;
    --color-ref-neutral-variant50: #6f797aff;
    --color-ref-neutral-variant60: #899294ff;
    --color-ref-neutral-variant70: #a3adafff;
    --color-ref-neutral-variant80: #bfc8caff;
    --color-ref-neutral-variant90: #dbe4e6ff;
    --color-ref-neutral-variant95: #e9f2f4ff;
    --color-ref-neutral-variant99: #f6feffff;
    --color-ref-neutral-variant100: #ffffffff;
    --color-sys-primary: #74d5e4ff;
    --color-sys-on-primary: #00363dff;
    --color-sys-primary-container: #004f58ff;
    --color-sys-on-primary-container: #97f0ffff;
    --color-sys-secondary: #b1cbd0ff;
    --color-sys-on-secondary: #1c3438ff;
    --color-sys-secondary-container: #334b4fff;
    --color-sys-on-secondary-container: #cde7ecff;
    --color-sys-tertiary: #bac6eaff;
    --color-sys-on-tertiary: #24304dff;
    --color-sys-tertiary-container: #3b4664ff;
    --color-sys-on-tertiary-container: #dae2ffff;
    --color-sys-error: #ffb4abff;
    --color-sys-on-error: #690005ff;
    --color-sys-error-container: #93000aff;
    --color-sys-on-error-container: #ffdad6ff;
    --color-sys-on-surface: #dee3e5ff;
    --color-sys-on-surface-variant: #bfc8caff;
    --color-sys-outline: #899294ff;
    --color-sys-surface-variant: #3f484aff;
    --color-sys-black: #000000ff;
    --color-sys-white: #ffffffff;
    --color-sys-inverse-primary: #006874ff;
    --color-sys-inverse-surface: #dee3e5ff;
    --color-sys-inverse-on-surface: #171d1eff;
    --color-sys-surface: #171d1eff;
    --color-sys-surface1: #1b2627ff;
    --color-sys-surface2: #1e2b2eff;
    --color-sys-surface3: #213134ff;
    --color-sys-surface4: #223335ff;
    --color-sys-surface5: #243639ff;
    --color-sys-on-surface-secondary: #b1cbd0ff;
    --color-sys-on-surface-subtle: #c2c7c9ff;
    --color-sys-on-surface-primary: #97f0ffff;
    --color-sys-on-surface-primary-inactive: #dee3e5ff;
    --color-sys-tonal-container: #004f58ff;
    --color-sys-on-tonal-container: #cde7ecff;
    --color-sys-tonal-outline: #637b80ff;
    --color-sys-neutral-outline: #727879ff;
    --color-sys-neutral-container: #1e2729ff;
    --color-sys-divider: #273f43ff;
    --color-sys-base: #273f43ff;
    --color-sys-base-container: #10292dff;
    --color-sys-base-container-elevated: #273f43ff;
    --color-sys-on-base-divider: #3e565bff;
    --color-sys-header: #000000ff;
    --color-sys-header-inactive: #000000ff;
    --color-sys-header-container: #273f43ff;
    --color-sys-header-container-inactive: #273f43ff;
    --color-sys-on-header-divider: #ffffffff;
    --color-sys-on-header-divider-inactive: #ffffffff;
    --color-sys-on-header-primary: #ffffffff;
    --color-sys-on-header-primary-inactive: #ffffffff;
    --color-sys-state-hover-on-prominent: #171d1e0f;
    --color-sys-state-hover-on-subtle: #f8fdfe1a;
    --color-sys-state-ripple-neutral-on-prominent: #171d1e1f;
    --color-sys-state-ripple-neutral-on-subtle: #f8fdfe29;
    --color-sys-state-ripple-primary: #369eac52;
    --color-sys-state-focus-ring: #74d5e4ff;
    --color-sys-state-focus-highlight: #f8fdfe1a;
    --color-sys-state-disabled: #dee3e560;
    --color-sys-state-disabled-container: #dee3e51e;
    --color-sys-state-hover-dim-blend-protection: #f8fdfe1a;
    --color-sys-state-hover-bright-blend-protection: #f8fdfe29;
    --color-sys-state-on-header-hover: #97f0ffff;
    --color-sys-state-header-hover: #10191bff;
    --color-sys-state-header-hover-inactive: #10191bff;
    --color-sys-state-header-select: #273f439a;
    --color-sys-shadow: #000000ff;
    --color-sys-omnibox-container: #10292dff;
    --color-sys-on-base: #dee3e5ff;
    --color-sys-on-base-secondary: #c2c7c9ff;
    --color-sys-on-base-border: #424849ff;
    --color-sys-state-hover: #dee3e514;
    --color-sys-state-focus: #dee3e51e;
    --color-sys-state-pressed: #dee3e51e;
    --color-sys-state-drag: #dee3e529;
    --color-sys-state-hover-cutout: #171d1e0f;
    --color-sys-state-hover-inverse-cutout: #171d1e29;
    --color-accent: #8ab4f8ff;
    --color-accent-with-guaranteed-contrast-atop-primary-background: #8ab4f8ff;
    --color-alert-high-severity: #f28b82ff;
    --color-alert-low-severity: #81c995ff;
    --color-alert-medium-severity-icon: #fdd663ff;
    --color-alert-medium-severity-text: #fdd663ff;
    --color-disabled-foreground: #9aa0a6ff;
    --color-endpoint-background: #202124ff;
    --color-endpoint-foreground: #ffffffff;
    --color-item-highlight: #4285f4ff;
    --color-item-selection-background: #404a5dff;
    --color-menu-selection-background: #3f4042ff;
    --color-midground: #3c4043ff;
    --color-primary-background: #292a2dff;
    --color-primary-foreground: #e8eaedff;
    --color-secondary-foreground: #9aa0a6ff;
    --color-subtle-accent: #445066ff;
    --color-subtle-emphasis-background: #363739ff;
    --color-text-selection-background: #536685ff;
    --color-text-selection-foreground: #ffffffff;
    --color-app-menu-profile-row-background: #ff0000ff;
    --color-app-menu-profile-row-background-hovered: #ff0000ff;
    --color-app-menu-profile-row-chip-background: #ff0000ff;
    --color-app-menu-profile-row-chip-hovered: #ff0000ff;
    --color-avatar-header-art: #3c4043ff;
    --color-avatar-icon-guest: #9aa0a6ff;
    --color-avatar-icon-incognito: #e8eaedff;
    --color-badge-background: #8ab4f8ff;
    --color-badge-foreground: #202124ff;
    --color-badge-in-cocoa-menu-background: #8ab4f8ff;
    --color-badge-in-cocoa-menu-foreground: #202124ff;
    --color-bubble-background: #292a2dff;
    --color-bubble-border: #3c4043ff;
    --color-bubble-border-shadow-large: #0000001a;
    --color-bubble-border-shadow-small: #00000033;
    --color-bubble-footer-background: #363739ff;
    --color-bubble-footer-border: #3c4043ff;
    --color-button-feature-attention-highlight: #8ab4f8ff;
    --color-button-background: #292a2dff;
    --color-button-background-pressed: #292a2dff;
    --color-button-background-prominent: #8ab4f8ff;
    --color-button-background-prominent-disabled: #363739ff;
    --color-button-background-prominent-focused: #8ab4f8ff;
    --color-button-background-tonal: #004f58ff;
    --color-button-background-tonal-disabled: #dee3e51e;
    --color-button-background-tonal-focused: #004f58ff;
    --color-button-background-with-attention: #35363aff;
    --color-button-border: #3c4043ff;
    --color-button-border-disabled: #363739ff;
    --color-button-foreground: #8ab4f8ff;
    --color-button-foreground-disabled: #9aa0a6ff;
    --color-button-foreground-prominent: #202124ff;
    --color-button-foreground-tonal: #cde7ecff;
    --color-button-hover-background-text: #f8fdfe1a;
    --color-multitask-menu-nudge-pulse: #ff0000ff;
    --color-checkbox-check: #ff0000ff;
    --color-checkbox-check-disabled: #ff0000ff;
    --color-checkbox-container: #ff0000ff;
    --color-checkbox-container-disabled: #ff0000ff;
    --color-checkbox-outline: #ff0000ff;
    --color-checkbox-outline-disabled: #ff0000ff;
    --color-checkbox-foreground-checked: #8ab4f8ff;
    --color-checkbox-foreground-unchecked: #9aa0a6ff;
    --color-combobox-background: #ff0000ff;
    --color-combobox-background-disabled: #ff0000ff;
    --color-combobox-container-outline: #ff0000ff;
    --color-combobox-ink-drop-hovered: #ff0000ff;
    --color-combobox-ink-drop-ripple: #ff0000ff;
    --color-custom-frame-caption-foreground: #ffffffff;
    --color-debug-bounds-outline: #ff000030;
    --color-debug-content-outline: #0000ff30;
    --color-dialog-background: #292a2dff;
    --color-dialog-foreground: #9aa0a6ff;
    --color-dropdown-background: #292a2dff;
    --color-dropdown-background-selected: #3f4042ff;
    --color-dropdown-foreground: #e8eaedff;
    --color-dropdown-foreground-selected: #e8eaedff;
    --color-focusable-border-focused: #4285f4ff;
    --color-focusable-border-unfocused: #3c4043ff;
    --color-frame-active: #000000ff;
    --color-frame-active-unthemed: #202124ff;
    --color-frame-caption-button-unfocused: #ff0000ff;
    --color-frame-inactive: #000000ff;
    --color-help-icon-active: #e8eaedff;
    --color-help-icon-inactive: #9aa0a6ff;
    --color-history-clusters-side-panel-divider: #ff0000ff;
    --color-history-clusters-side-panel-dialog-background: #ff0000ff;
    --color-history-clusters-side-panel-dialog-divider: #ff0000ff;
    --color-history-clusters-side-panel-dialog-primary-foreground: #ff0000ff;
    --color-history-clusters-side-panel-dialog-secondary-foreground: #ff0000ff;
    --color-history-clusters-side-panel-card-secondary-foreground: #ff0000ff;
    --color-icon: #9aa0a6ff;
    --color-icon-disabled: #9aa0a661;
    --color-icon-secondary: #80868bff;
    --color-info-bar-icon: #8ab4f8ff;
    --color-label-foreground: #e8eaedff;
    --color-label-foreground-disabled: #9aa0a6ff;
    --color-label-foreground-secondary: #9aa0a6ff;
    --color-label-selection-background: #536685ff;
    --color-label-selection-foreground: #ffffffff;
    --color-link-foreground: #8ab4f8ff;
    --color-link-foreground-default: #8ab4f8ff;
    --color-link-foreground-disabled: #9aa0a6ff;
    --color-link-foreground-on-bubble-footer: #8ab4f8ff;
    --color-link-foreground-pressed: #8ab4f8ff;
    --color-link-foreground-pressed-default: #8ab4f8ff;
    --color-link-foreground-pressed-on-bubble-footer: #8ab4f8ff;
    --color-list-item-folder-icon-background: #ff0000ff;
    --color-list-item-folder-icon-foreground: #ff0000ff;
    --color-list-item-url-favicon-background: #ff0000ff;
    --color-live-caption-bubble-background-default: #202124e6;
    --color-live-caption-bubble-button-icon: #bdbdbeff;
    --color-live-caption-bubble-button-icon-disabled: #bdbdbe61;
    --color-live-caption-bubble-foreground-default: #ffffffff;
    --color-live-caption-bubble-foreground-secondary: #9aa0a6ff;
    --color-live-caption-bubble-checkbox: #8ab4f8ff;
    --color-live-caption-bubble-link: #8ab4f8ff;
    --color-menu-background: #292a2dff;
    --color-menu-border: #3c4043ff;
    --color-menu-button-background: #292a2dff;
    --color-menu-button-background-selected: #3f4042ff;
    --color-menu-dropmarker: #e8eaedff;
    --color-menu-icon: #9aa0a6ff;
    --color-menu-icon-disabled: #9aa0a661;
    --color-menu-item-background-alerted-initial: #8ab4f84d;
    --color-menu-item-background-alerted-target: #8ab4f81a;
    --color-menu-item-background-highlighted: #363739ff;
    --color-menu-item-background-selected: #3f4042ff;
    --color-menu-item-foreground: #e8eaedff;
    --color-menu-item-foreground-disabled: #9aa0a6ff;
    --color-menu-item-foreground-highlighted: #e8eaedff;
    --color-menu-item-foreground-secondary: #9aa0a6ff;
    --color-menu-item-foreground-selected: #e8eaedff;
    --color-menu-separator: #3c4043ff;
    --color-notification-actions-background: #363739ff;
    --color-notification-background-active: #363739ff;
    --color-notification-background-inactive: #292a2dff;
    --color-notification-header-foreground: #9aa0a6ff;
    --color-notification-icon-background: #9aa0a6ff;
    --color-notification-icon-foreground: #292a2dff;
    --color-notification-image-background: #363739ff;
    --color-notification-input-background: #8ab4f8ff;
    --color-notification-input-foreground: #202124ff;
    --color-notification-input-placeholder-foreground: #202124b5;
    --color-overlay-scrollbar-fill: #ffffffb5;
    --color-overlay-scrollbar-fill-dark: #202124b5;
    --color-overlay-scrollbar-fill-light: #ffffffb5;
    --color-overlay-scrollbar-fill-hovered: #ffffffdb;
    --color-overlay-scrollbar-fill-hovered-dark: #202124db;
    --color-overlay-scrollbar-fill-hovered-light: #ffffffdb;
    --color-overlay-scrollbar-stroke: #20212447;
    --color-overlay-scrollbar-stroke-dark: #ffffff47;
    --color-overlay-scrollbar-stroke-light: #20212447;
    --color-overlay-scrollbar-stroke-hovered: #2021246e;
    --color-overlay-scrollbar-stroke-hovered-dark: #ffffff6e;
    --color-overlay-scrollbar-stroke-hovered-light: #2021246e;
    --color-progress-bar: #8ab4f8ff;
    --color-progress-bar-background: #3c4043ff;
    --color-progress-bar-paused: #9aa0a6ff;
    --color-radio-button-foreground-unchecked: #9aa0a6ff;
    --color-radio-button-foreground-disabled: #ff0000ff;
    --color-radio-button-foreground-checked: #8ab4f8ff;
    --color-scrollbar-arrow-background-hovered: #4f4f4fff;
    --color-scrollbar-arrow-background-pressed: #b1b1b1ff;
    --color-scrollbar-arrow-foreground: #ffffffff;
    --color-scrollbar-arrow-foreground-pressed: #000000ff;
    --color-scrollbar-corner: #121212ff;
    --color-scrollbar-thumb: #ffffff33;
    --color-scrollbar-thumb-hovered: #ffffff4d;
    --color-scrollbar-thumb-inactive: #ffffffff;
    --color-scrollbar-thumb-pressed: #ffffff80;
    --color-scrollbar-track: #424242ff;
    --color-segmented-button-border: #ff0000ff;
    --color-segmented-button-focus: #ff0000ff;
    --color-segmented-button-foreground-checked: #ff0000ff;
    --color-segmented-button-foreground-unchecked: #ff0000ff;
    --color-segmented-button-hover: #ff0000ff;
    --color-segmented-button-ripple: #ff0000ff;
    --color-segmented-button-checked: #ff0000ff;
    --color-separator: #3c4043ff;
    --color-shadow-base: #000000ff;
    --color-shadow-value-ambient-shadow-elevation-four: #0000003d;
    --color-shadow-value-ambient-shadow-elevation-sixteen: #0000003d;
    --color-shadow-value-ambient-shadow-elevation-three: #00000040;
    --color-shadow-value-ambient-shadow-elevation-twelve: #0000003d;
    --color-shadow-value-ambient-shadow-elevation-twenty-four: #0000003d;
    --color-shadow-value-key-shadow-elevation-four: #0000001f;
    --color-shadow-value-key-shadow-elevation-sixteen: #0000001a;
    --color-shadow-value-key-shadow-elevation-three: #00000066;
    --color-shadow-value-key-shadow-elevation-twelve: #0000001f;
    --color-shadow-value-key-shadow-elevation-twenty-four: #0000001f;
    --color-side-panel-combobox-border: #00000000;
    --color-side-panel-combobox-background: #363739ff;
    --color-slider-thumb: #8ab4f8ff;
    --color-slider-thumb-minimal: #9aa0a6ff;
    --color-slider-track: #445066ff;
    --color-slider-track-minimal: #3c4043ff;
    --color-sync-info-background: #363739ff;
    --color-sync-info-background-error: #f28b820f;
    --color-sync-info-background-paused: #8ab4f80f;
    --color-tab-background-highlighted: #8ab4f82b;
    --color-tab-background-highlighted-focused: #8ab4f853;
    --color-tab-border-selected: #8ab4f8ff;
    --color-tab-content-separator: #3c4043ff;
    --color-tab-foreground: #9aa0a6ff;
    --color-tab-foreground-selected: #8ab4f8ff;
    --color-table-background: #292a2dff;
    --color-table-background-alternate: #292a2dff;
    --color-table-background-selected-focused: #404a5dff;
    --color-table-background-selected-unfocused: #404a5dff;
    --color-table-foreground: #e8eaedff;
    --color-table-foreground-selected-focused: #e8eaedff;
    --color-table-foreground-selected-unfocused: #e8eaedff;
    --color-table-grouping-indicator: #4285f4ff;
    --color-table-header-background: #292a2dff;
    --color-table-header-foreground: #e8eaedff;
    --color-table-header-separator: #3c4043ff;
    --color-suggestion-chip-border: #ff0000ff;
    --color-suggestion-chip-icon: #ff0000ff;
    --color-textfield-background: #202124ff;
    --color-textfield-background-disabled: #292a2dff;
    --color-textfield-filled-background: #ff0000ff;
    --color-textfield-filled-foreground-invalid: #ff0000ff;
    --color-textfield-filled-underline: #ff0000ff;
    --color-textfield-filled-underline-focused: #ff0000ff;
    --color-textfield-foreground: #e8eaedff;
    --color-textfield-foreground-disabled: #9aa0a6ff;
    --color-textfield-foreground-icon: #ff0000ff;
    --color-textfield-foreground-label: #ff0000ff;
    --color-textfield-foreground-placeholder-invalid: #9aa0a6ff;
    --color-textfield-foreground-placeholder: #9aa0a6ff;
    --color-textfield-hover: #00000000;
    --color-textfield-selection-background: #536685ff;
    --color-textfield-selection-foreground: #ffffffff;
    --color-textfield-outline: #3c4043ff;
    --color-textfield-outline-disabled: #3c4043ff;
    --color-textfield-outline-invalid: #f28b82ff;
    --color-theme-color-picker-checkmark-background: #ff0000ff;
    --color-theme-color-picker-checkmark-foreground: #ff0000ff;
    --color-theme-color-picker-custom-color-icon-background: #ff0000ff;
    --color-theme-color-picker-option-background: #ff0000ff;
    --color-throbber: #8ab4f8ff;
    --color-throbber-preconnect: #445066ff;
    --color-toast-background: #ff0000ff;
    --color-toast-button: #ff0000ff;
    --color-toast-foreground: #ff0000ff;
    --color-toggle-button-hover: #ff0000ff;
    --color-toggle-button-pressed: #ff0000ff;
    --color-toggle-button-shadow: #3c4043ff;
    --color-toggle-button-thumb-off: #9ea4aaff;
    --color-toggle-button-thumb-off-disabled: #ff0000ff;
    --color-toggle-button-thumb-on: #8fb7f7ff;
    --color-toggle-button-thumb-on-disabled: #ff0000ff;
    --color-toggle-button-thumb-on-hover: #ff0000ff;
    --color-toggle-button-track-off: #5f6368ff;
    --color-toggle-button-track-off-disabled: #ff0000ff;
    --color-toggle-button-track-on: #1a73e8ff;
    --color-toggle-button-track-on-disabled: #ff0000ff;
    --color-toolbar-search-field-background: #ff0000ff;
    --color-toolbar-search-field-background-hover: #ff0000ff;
    --color-toolbar-search-field-background-pressed: #ff0000ff;
    --color-toolbar-search-field-foreground: #ff0000ff;
    --color-toolbar-search-field-foreground-placeholder: #ff0000ff;
    --color-toolbar-search-field-icon: #ff0000ff;
    --color-tooltip-background: #292a2dff;
    --color-tooltip-foreground: #cfd1d4ff;
    --color-tree-background: #292a2dff;
    --color-tree-node-background-selected-focused: #404a5dff;
    --color-tree-node-background-selected-unfocused: #404a5dff;
    --color-tree-node-foreground: #e8eaedff;
    --color-tree-node-foreground-selected-focused: #e8eaedff;
    --color-tree-node-foreground-selected-unfocused: #e8eaedff;
    --color-window-background: #292a2dff;
    --color-native3d-dk-shadow: #696969ff;
    --color-native3d-light: #e3e3e3ff;
    --color-native-active-border: #b4b4b4ff;
    --color-native-active-caption: #99b4d1ff;
    --color-native-app-workspace: #abababff;
    --color-native-background: #000000ff;
    --color-native-btn-face: #f0f0f0ff;
    --color-native-btn-highlight: #ffffffff;
    --color-native-btn-shadow: #a0a0a0ff;
    --color-native-btn-text: #000000ff;
    --color-native-caption-text: #000000ff;
    --color-native-gradient-active-caption: #b9d1eaff;
    --color-native-gradient-inactive-caption: #d7e4f2ff;
    --color-native-gray-text: #6d6d6dff;
    --color-native-highlight: #0078d7ff;
    --color-native-highlight-text: #ffffffff;
    --color-native-hotlight: #0066ccff;
    --color-native-inactive-border: #f4f7fcff;
    --color-native-inactive-caption: #bfcddbff;
    --color-native-inactive-caption-text: #000000ff;
    --color-native-info-bk: #ffffe1ff;
    --color-native-info-text: #000000ff;
    --color-native-menu: #f0f0f0ff;
    --color-native-menu-bar: #f0f0f0ff;
    --color-native-menu-hilight: #3399ffff;
    --color-native-menu-text: #000000ff;
    --color-native-scrollbar: #c8c8c8ff;
    --color-native-window: #ffffffff;
    --color-native-window-frame: #646464ff;
    --color-native-window-text: #000000ff;
    --color-app-menu-highlight-severity-low: #81c995ff;
    --color-app-menu-highlight-severity-high: #f6aea9ff;
    --color-app-menu-highlight-severity-medium: #fdd663ff;
    --color-app-menu-highlight-default: #ff0000ff;
    --color-app-menu-expanded-foreground-default: #ff0000ff;
    --color-app-menu-chip-ink-drop-hover: #ffffff14;
    --color-app-menu-chip-ink-drop-ripple: #ffffff10;
    --color-avatar-button-highlight-default: #353535ff;
    --color-avatar-button-highlight-normal: #8ab4f8ff;
    --color-avatar-button-highlight-sync-error: #f6aea9ff;
    --color-avatar-button-highlight-sync-paused: #8ab4f8ff;
    --color-avatar-button-highlight-incognito: #202124cc;
    --color-avatar-button-highlight-normal-foreground: #8ab4f8ff;
    --color-avatar-button-highlight-default-foreground: #ffffffff;
    --color-avatar-button-highlight-sync-error-foreground: #fdd663ff;
    --color-avatar-button-highlight-incognito-foreground: #ffffffff;
    --color-avatar-button-incognito-hover: #ffffff14;
    --color-avatar-button-normal-ripple: #ffffff10;
    --color-avatar-stroke-light: #ffffffff;
    --color-bookmark-bar-background: #353535ff;
    --color-bookmark-bar-foreground: #ffffffff;
    --color-bookmark-bar-foreground-disabled: #ffffff6e;
    --color-bookmark-bar-separator: #ffffff4d;
    --color-bookmark-bar-separator-chrome-refresh: #000000ff;
    --color-bookmark-button-icon: #ffffffff;
    --color-bookmark-dialog-track-price-icon: #5f6368ff;
    --color-bookmark-dialog-product-image-border: #20212424;
    --color-bookmark-drag-image-background: #8ab4f8ff;
    --color-bookmark-drag-image-count-background: #f28b82ff;
    --color-bookmark-drag-image-count-foreground: #202124ff;
    --color-bookmark-drag-image-foreground: #202124ff;
    --color-bookmark-drag-image-icon-background: #202124ff;
    --color-bookmark-favicon: #ffffffff;
    --color-bookmark-folder-icon: #bdbdbeff;
    --color-caption-button-background: #00000000;
    --color-captured-tab-contents-border: #8ab4f8ff;
    --color-desktop-media-tab-list-border: #3c4043ff;
    --color-desktop-media-tab-list-preview-background: #3c4043ff;
    --color-download-item-icon-dangerous: #f28b82ff;
    --color-download-item-text-dangerous: #f28b82ff;
    --color-download-item-icon-warning: #fdd663ff;
    --color-download-item-text-warning: #fdd663ff;
    --color-download-bubble-info-background: #363739ff;
    --color-download-bubble-info-icon: #9aa0a6ff;
    --color-download-bubble-row-hover: #ff0000ff;
    --color-download-bubble-show-all-downloads-icon: #80868bff;
    --color-download-item-foreground: #ffffffff;
    --color-download-item-foreground-dangerous: #f28b82ff;
    --color-download-item-foreground-disabled: #a4a4a4ff;
    --color-download-item-foreground-safe: #81c995ff;
    --color-download-item-progress-ring-background: #8ab4f847;
    --color-download-item-progress-ring-foreground: #8ab4f8ff;
    --color-download-shelf-background: #353535ff;
    --color-download-shelf-button-background: #353535ff;
    --color-download-shelf-button-text: #8ab4f8ff;
    --color-download-shelf-button-icon: #ffffffff;
    --color-download-shelf-button-icon-disabled: #ffffff61;
    --color-download-shelf-content-area-separator: #636363ff;
    --color-download-shelf-foreground: #ffffffff;
    --color-download-started-animation-foreground: #8ab4f8ff;
    --color-download-toolbar-button-active: #8ab4f8ff;
    --color-download-toolbar-button-animation-background: #3c3f44ff;
    --color-download-toolbar-button-animation-foreground: #8ab4f8ff;
    --color-download-toolbar-button-inactive: #ffffffff;
    --color-download-toolbar-button-ring-background: #00021f33;
    --color-extension-dialog-background: #ffffffff;
    --color-extension-icon-badge-background-default: #8ab4f8ff;
    --color-extension-icon-decoration-ambient-shadow: #00000026;
    --color-extension-icon-decoration-background: #ffffffff;
    --color-extension-icon-decoration-key-shadow: #0000004d;
    --color-extension-menu-icon: #9aa0a6ff;
    --color-extension-menu-icon-disabled: #9aa0a661;
    --color-extension-menu-pin-button-icon: #8ab4f8ff;
    --color-extension-menu-pin-button-icon-disabled: #8ab4f861;
    --color-extensions-menu-highlighted-background: #1e2729ff;
    --color-extensions-toolbar-controls-background: #202124ff;
    --color-eyedropper-boundary: #444444ff;
    --color-eyedropper-central-pixel-inner-ring: #000000ff;
    --color-eyedropper-central-pixel-outer-ring: #ffffffff;
    --color-eyedropper-grid: #888888ff;
    --color-feature-promo-bubble-background: #1967d2ff;
    --color-feature-promo-bubble-button-border: #dadce0ff;
    --color-feature-promo-bubble-close-button-ink-drop: #8ab4f8ff;
    --color-feature-promo-bubble-default-button-background: #ffffffff;
    --color-feature-promo-bubble-default-button-foreground: #1967d2ff;
    --color-feature-promo-bubble-foreground: #ffffffff;
    --color-feature-lens-promo-bubble-background: #1967d2ff;
    --color-feature-lens-promo-bubble-foreground: #ffffffff;
    --color-find-bar-background: #202124ff;
    --color-find-bar-button-icon: #acaeb1ff;
    --color-find-bar-button-icon-disabled: #767a7fff;
    --color-find-bar-foreground: #e8eaedff;
    --color-find-bar-match-count: #9aa0a6ff;
    --color-flying-indicator-background: #353535ff;
    --color-flying-indicator-foreground: #ffffffff;
    --color-focus-highlight-default: #101010ff;
    --color-frame-caption-active: #ffffffff;
    --color-frame-caption-inactive: #ffffffff;
    --color-info-bar-background: #353535ff;
    --color-info-bar-button-icon: #ffffffff;
    --color-info-bar-button-icon-disabled: #ffffff61;
    --color-info-bar-content-area-separator: #636363ff;
    --color-info-bar-foreground: #ffffffff;
    --color-intent-picker-item-background-hovered: #ffffff0f;
    --color-intent-picker-item-background-selected: #323740ff;
    --color-location-bar-background: #202124ff;
    --color-location-bar-background-hovered: #292a2dff;
    --color-location-bar-border: #0000004d;
    --color-location-bar-border-on-mismatch: #0000004d;
    --color-location-bar-border-opaque: #252525ff;
    --color-location-bar-clear-all-button-icon: #bdbdbeff;
    --color-location-bar-clear-all-button-icon-disabled: #bdbdbe61;
    --color-media-router-icon-active: #8ab4f8ff;
    --color-media-router-icon-warning: #fdd663ff;
    --color-new-tab-button-foreground-frame-active: #ffffffff;
    --color-new-tab-button-foreground-frame-inactive: #ffffffff;
    --color-new-tab-button-background-frame-active: #000000ff;
    --color-new-tab-button-background-frame-inactive: #000000ff;
    --color-new-tab-button-focus-ring: #4285f4ff;
    --color-new-tab-button-ink-drop-frame-active: #ffffffff;
    --color-new-tab-button-ink-drop-frame-inactive: #ffffffff;
    --color-tab-strip-control-button-ink-drop: #ffffff29;
    --color-tab-strip-control-button-ink-drop-ripple: #ffffff24;
    --color-new-tab-button-c-r-foreground-frame-active: #ffffffff;
    --color-new-tab-button-c-r-foreground-frame-inactive: #ffffff6e;
    --color-new-tab-button-c-r-background-frame-active: #353535ff;
    --color-new-tab-button-c-r-background-frame-inactive: #353535ff;
    --color-tab-search-button-c-r-foreground-frame-active: #ffffffff;
    --color-tab-search-button-c-r-foreground-frame-inactive: #ffffff6e;
    --color-new-tab-page-action-button-background: #9aa0a6ff;
    --color-new-tab-page-action-button-border: #5f6368ff;
    --color-new-tab-page-action-button-border-hovered: #5f6368ff;
    --color-new-tab-page-action-button-foreground: #202124ff;
    --color-new-tab-page-active-background: #e8eaed28;
    --color-new-tab-page-add-shortcut-background: #2a2a2aff;
    --color-new-tab-page-add-shortcut-foreground: #ffffffff;
    --color-new-tab-page-attribution-foreground: #ffffffff;
    --color-new-tab-page-background: #353535ff;
    --color-new-tab-page-background-override: #202124ff;
    --color-new-tab-page-border: #2a2a2aff;
    --color-new-tab-page-button-background: #2a2a2aff;
    --color-new-tab-page-button-background-hovered: #ffffff19;
    --color-new-tab-page-button-foreground: #9aa0a6ff;
    --color-new-tab-page-cart-module-discount-chip-background: #3c4043ff;
    --color-new-tab-page-cart-module-discount-chip-foreground: #81c995ff;
    --color-new-tab-page-chip-background: #9aa0a6ff;
    --color-new-tab-page-chip-foreground: #202124ff;
    --color-new-tab-page-control-background-hovered: #ffffff19;
    --color-new-tab-page-control-background-selected: #8ab4f83d;
    --color-new-tab-page-dialog-background: #202124ff;
    --color-new-tab-page-dialog-background-active: #e8eaed28;
    --color-new-tab-page-dialog-border: #5f6368ff;
    --color-new-tab-page-dialog-border-selected: #8ab4f8ff;
    --color-new-tab-page-dialog-control-background-hovered: #e8eaed19;
    --color-new-tab-page-dialog-foreground: #e8eaedff;
    --color-new-tab-page-dialog-secondary-foreground: #9aa0a6ff;
    --color-new-tab-page-first-run-background: #353535ff;
    --color-new-tab-page-focus-ring: #4285f4ff;
    --color-new-tab-page-header: #969696ff;
    --color-new-tab-page-history-clusters-module-item-background: #353535ff;
    --color-new-tab-page-promo-background: #2a2a2aff;
    --color-new-tab-page-promo-image-background: #e8eaedff;
    --color-new-tab-page-icon-button-background: #ffffffff;
    --color-new-tab-page-icon-button-background-active: #dadce0ff;
    --color-new-tab-page-link: #9aa0a6ff;
    --color-new-tab-page-logo: #ffffffff;
    --color-new-tab-page-logo-unthemed-dark: #5f6368ff;
    --color-new-tab-page-logo-unthemed-light: #eeeeeeff;
    --color-new-tab-page-menu-inner-shadow: #0000004c;
    --color-new-tab-page-menu-outer-shadow: #00000026;
    --color-new-tab-page-mic-border-color: #f1f3f4ff;
    --color-new-tab-page-mic-icon-color: #f1f3f4ff;
    --color-new-tab-page-module-control-border: #353535ff;
    --color-new-tab-page-module-background: #2a2a2aff;
    --color-new-tab-page-module-icon-container-background: #8ab4f83d;
    --color-new-tab-page-module-item-background: #353535ff;
    --color-new-tab-page-module-scroll-button-background: #5f6368ff;
    --color-new-tab-page-module-scroll-button-background-hovered: #80868bff;
    --color-new-tab-page-most-visited-foreground: #ffffffff;
    --color-new-tab-page-most-visited-tile-background: #2a2a2aff;
    --color-new-tab-page-most-visited-tile-background-themed: #2a2a2aff;
    --color-new-tab-page-most-visited-tile-background-unthemed: #f1f3f4ff;
    --color-new-tab-page-on-theme-foreground: #9aa0a6ff;
    --color-new-tab-page-overlay-background: #202124ff;
    --color-new-tab-page-overlay-foreground: #e8eaedff;
    --color-new-tab-page-overlay-secondary-foreground: #9aa0a6ff;
    --color-new-tab-page-primary-foreground: #ffffffff;
    --color-new-tab-page-search-box-background: #ff0000ff;
    --color-new-tab-page-search-box-background-hovered: #ff0000ff;
    --color-new-tab-page-search-box-results-text-dimmed-selected: #ff0000ff;
    --color-new-tab-page-secondary-foreground: #9aa0a6ff;
    --color-new-tab-page-section-border: #96969650;
    --color-new-tab-page-selected-background: #8ab4f828;
    --color-new-tab-page-selected-border: #8ab4f8ff;
    --color-new-tab-page-selected-foreground: #8ab4f8ff;
    --color-new-tab-page-tag-background: #2a2a2ae5;
    --color-new-tab-page-text: #ffffffff;
    --color-new-tab-page-text-unthemed: #f8f9faff;
    --color-new-tab-page-text-light: #ffffffff;
    --color-omnibox-answer-icon-background: #8ab4f8ff;
    --color-omnibox-answer-icon-foreground: #202124ff;
    --color-omnibox-answer-icon-g-m3-background: #004f58ff;
    --color-omnibox-answer-icon-g-m3-foreground: #cde7ecff;
    --color-omnibox-bubble-outline: #f1f3f4ff;
    --color-omnibox-bubble-outline-experimental-keyword-mode: #f1f3f4ff;
    --color-omnibox-chip-background: #353535ff;
    --color-omnibox-chip-foreground-low-visibility: #ffffffff;
    --color-omnibox-chip-foreground-normal-visibility: #8ab4f8ff;
    --color-omnibox-chip-ink-drop-hover: #ffffff1a;
    --color-omnibox-chip-ink-drop-ripple: #ffffff29;
    --color-omnibox-keyword-selected: #f1f3f4ff;
    --color-omnibox-keyword-separator: #ffffffff;
    --color-omnibox-intent-chip-background: #273f43ff;
    --color-omnibox-intent-chip-icon: #c2c7c9ff;
    --color-omnibox-results-background: #202124ff;
    --color-omnibox-results-background-hovered: #37383aff;
    --color-omnibox-results-background-selected: #37383aff;
    --color-omnibox-results-button-border: #5e5f61ff;
    --color-omnibox-results-button-icon: #bdbdbeff;
    --color-omnibox-results-button-icon-selected: #bdbdbeff;
    --color-omnibox-results-button-ink-drop: #ffffffff;
    --color-omnibox-results-button-ink-drop-selected: #ffffffff;
    --color-omnibox-results-focus-indicator: #4285f4ff;
    --color-omnibox-results-icon: #bdbdbeff;
    --color-omnibox-results-icon-g-m3-background: #303030ff;
    --color-omnibox-results-icon-selected: #bdbdbeff;
    --color-omnibox-results-starter-pack-icon: #1a73e8ff;
    --color-omnibox-results-text-dimmed: #a0a1a2ff;
    --color-omnibox-results-text-dimmed-selected: #a0a1a2ff;
    --color-omnibox-results-text-negative: #f28b82ff;
    --color-omnibox-results-text-negative-selected: #f28b82ff;
    --color-omnibox-results-text-positive: #81c995ff;
    --color-omnibox-results-text-positive-selected: #81c995ff;
    --color-omnibox-results-text-secondary: #9ca1a5ff;
    --color-omnibox-results-text-secondary-selected: #9ca1a5ff;
    --color-omnibox-results-text-selected: #ffffffff;
    --color-omnibox-results-url: #6da1f7ff;
    --color-omnibox-results-url-selected: #6da1f7ff;
    --color-omnibox-security-chip-dangerous: #f28b82ff;
    --color-omnibox-security-chip-dangerous-background: #f28b82ff;
    --color-omnibox-security-chip-default: #9aa0a6ff;
    --color-omnibox-security-chip-ink-drop-hover: #b314121a;
    --color-omnibox-security-chip-ink-drop-ripple: #b3141229;
    --color-omnibox-security-chip-secure: #9aa0a6ff;
    --color-omnibox-security-chip-text: #b31412ff;
    --color-omnibox-text: #ffffffff;
    --color-omnibox-text-dimmed: #909192ff;
    --color-page-action-icon: #bdbdbeff;
    --color-page-action-icon-hover: #ffffff1a;
    --color-page-action-icon-pressed: #ffffff29;
    --color-page-info-background: #353535ff;
    --color-page-info-chosen-object-delete-button-icon: #9aa0a6ff;
    --color-page-info-chosen-object-delete-button-icon-disabled: #9aa0a661;
    --color-page-info-icon-hover: #ffffff1a;
    --color-page-info-icon-pressed: #ffffff29;
    --color-payments-feedback-tip-background: #363739ff;
    --color-payments-feedback-tip-border: #3c4043ff;
    --color-payments-feedback-tip-foreground: #9aa0a6ff;
    --color-payments-feedback-tip-icon: #fdd663ff;
    --color-payments-google-pay-logo: #ffffffff;
    --color-payments-promo-code-background: #81c9951f;
    --color-payments-promo-code-foreground: #81c995ff;
    --color-payments-promo-code-foreground-hovered: #a8dab5ff;
    --color-payments-promo-code-foreground-pressed: #a8dab5ff;
    --color-payments-promo-code-ink-drop: #81c995ff;
    --color-payments-request-back-arrow-button-icon: #9aa0a6ff;
    --color-payments-request-back-arrow-button-icon-disabled: #9aa0a661;
    --color-payments-request-row-background-highlighted: #0000000d;
    --color-permission-prompt-request-text: #ff0000ff;
    --color-pip-window-back-to-tab-button-background: #00000060;
    --color-pip-window-background: #000000ff;
    --color-pip-window-controls-background: #202124c1;
    --color-pip-window-top-bar-background: #202124ff;
    --color-pip-window-foreground: #ffffffff;
    --color-pip-window-foreground-inactive: #9aa0a6ff;
    --color-pip-window-hang-up-button-foreground: #f28b82ff;
    --color-pip-window-skip-ad-button-background: #5f6368ff;
    --color-pip-window-skip-ad-button-border: #ffffffff;
    --color-profile-menu-header-background: #ff0000ff;
    --color-profile-menu-header-label: #ff0000ff;
    --color-profile-menu-icon-button: #ff0000ff;
    --color-profile-menu-icon-button-background: #ff0000ff;
    --color-profile-menu-icon-button-background-hovered: #ff0000ff;
    --color-profile-menu-sync-error-icon: #ff0000ff;
    --color-profile-menu-sync-icon: #ff0000ff;
    --color-profile-menu-sync-info-background: #ff0000ff;
    --color-profile-menu-sync-off-icon: #ff0000ff;
    --color-profile-menu-sync-paused-icon: #ff0000ff;
    --color-profiles-reauth-dialog-border: #ffffffff;
    --color-pwa-background: #ff0000ff;
    --color-pwa-menu-button-icon: #ff0000ff;
    --color-pwa-security-chip-foreground: #ff0000ff;
    --color-pwa-security-chip-foreground-dangerous: #ff0000ff;
    --color-pwa-security-chip-foreground-policy-cert: #ff0000ff;
    --color-pwa-security-chip-foreground-secure: #ff0000ff;
    --color-pwa-tab-bar-bottom-separator: #ff0000ff;
    --color-pwa-tab-bar-top-separator: #ff0000ff;
    --color-pwa-theme: #ff0000ff;
    --color-pwa-toolbar-background: #ff0000ff;
    --color-pwa-toolbar-button-icon: #ff0000ff;
    --color-pwa-toolbar-button-icon-disabled: #ff0000ff;
    --color-qr-code-background: #ffffffff;
    --color-qr-code-border: #3c4043ff;
    --color-quick-answers-report-query-button-background: #8ab4f80a;
    --color-quick-answers-report-query-button-foreground: #8ab4f8ff;
    --color-realbox-background: #ffffffff;
    --color-realbox-background-hovered: #ffffffff;
    --color-realbox-border: #dadce0ff;
    --color-realbox-foreground: #000000ff;
    --color-realbox-placeholder: #5f6368ff;
    --color-realbox-results-background: #ffffffff;
    --color-realbox-results-background-hovered: #20212419;
    --color-realbox-results-control-background-hovered: #20212419;
    --color-realbox-results-dim-selected: #5f6368ff;
    --color-realbox-results-foreground: #000000ff;
    --color-realbox-results-foreground-dimmed: #5f6368ff;
    --color-realbox-results-icon: #5f6368ff;
    --color-realbox-results-icon-focused-outline: #1a73e8ff;
    --color-realbox-results-icon-selected: #5f6368ff;
    --color-realbox-results-url: #1967d2ff;
    --color-realbox-results-url-selected: #1967d2ff;
    --color-realbox-search-icon-background: #5f6368ff;
    --color-realbox-shadow: #20212451;
    --color-screenshot-captured-image-background: #292a2dff;
    --color-screenshot-captured-image-border: #3c4043ff;
    --color-share-this-tab-audio-toggle-background: #363739ff;
    --color-share-this-tab-source-view-border: #3c4043ff;
    --color-side-panel-background: #353535ff;
    --color-side-panel-badge-background: #ff0000ff;
    --color-side-panel-badge-background-updated: #ff0000ff;
    --color-side-panel-badge-foreground: #ff0000ff;
    --color-side-panel-badge-foreground-updated: #ff0000ff;
    --color-side-panel-bookmarks-selected-folder-background: #ff0000ff;
    --color-side-panel-bookmarks-selected-folder-foreground: #ff0000ff;
    --color-side-panel-bookmarks-selected-folder-icon: #ff0000ff;
    --color-side-panel-card-background: #ff0000ff;
    --color-side-panel-card-primary-foreground: #ff0000ff;
    --color-side-panel-card-secondary-foreground: #ff0000ff;
    --color-side-panel-content-area-separator: #3c4043ff;
    --color-side-panel-content-background: #ff0000ff;
    --color-side-panel-customize-chrome-classic-chrome-tile-border: #ff0000ff;
    --color-side-panel-customize-chrome-corner-ntp-border: #ff0000ff;
    --color-side-panel-customize-chrome-custom-option-background: #ff0000ff;
    --color-side-panel-customize-chrome-custom-option-foreground: #ff0000ff;
    --color-side-panel-customize-chrome-mini-ntp-active-tab: #ff0000ff;
    --color-side-panel-customize-chrome-mini-ntp-arrows-and-refresh-button: #ff0000ff;
    --color-side-panel-customize-chrome-mini-ntp-background: #ff0000ff;
    --color-side-panel-customize-chrome-mini-ntp-border: #ff0000ff;
    --color-side-panel-customize-chrome-mini-ntp-caron: #ff0000ff;
    --color-side-panel-customize-chrome-mini-ntp-caron-container: #ff0000ff;
    --color-side-panel-customize-chrome-mini-ntp-chrome-logo: #ff0000ff;
    --color-side-panel-customize-chrome-mini-ntp-omnibox: #ff0000ff;
    --color-side-panel-customize-chrome-mini-ntp-tab-strip-background: #ff0000ff;
    --color-side-panel-customize-chrome-theme-background: #ff0000ff;
    --color-side-panel-customize-chrome-theme-checkmark-background: #ff0000ff;
    --color-side-panel-customize-chrome-theme-checkmark-foreground: #ff0000ff;
    --color-side-panel-customize-chrome-theme-snapshot-background: #ff0000ff;
    --color-side-panel-customize-chrome-web-store-border: #ff0000ff;
    --color-side-panel-dialog-background: #ff0000ff;
    --color-side-panel-dialog-divider: #ff0000ff;
    --color-side-panel-dialog-primary-foreground: #ff0000ff;
    --color-side-panel-dialog-secondary-foreground: #ff0000ff;
    --color-side-panel-divider: #ff0000ff;
    --color-side-panel-edit-footer-border: #ff0000ff;
    --color-side-panel-entry-icon: #9aa0a6ff;
    --color-side-panel-entry-title: #ff0000ff;
    --color-side-panel-filter-chip-border: #ff0000ff;
    --color-side-panel-filter-chip-foreground: #ff0000ff;
    --color-side-panel-filter-chip-foreground-selected: #ff0000ff;
    --color-side-panel-filter-chip-icon: #ff0000ff;
    --color-side-panel-filter-chip-icon-selected: #ff0000ff;
    --color-side-panel-filter-chip-background-hover: #ff0000ff;
    --color-side-panel-filter-chip-background-selected: #ff0000ff;
    --color-side-panel-header-button-icon: #9aa0a6ff;
    --color-side-panel-header-button-icon-disabled: #9aa0a661;
    --color-side-panel-resize-area-handle: #636363ff;
    --color-side-panel-scrollbar-thumb: #ff0000ff;
    --color-side-panel-textfield-border: #ff0000ff;
    --color-status-bubble-background-frame-active: #000000ff;
    --color-status-bubble-background-frame-inactive: #000000ff;
    --color-status-bubble-foreground-frame-active: #ffffffff;
    --color-status-bubble-foreground-frame-inactive: #bfbfbfff;
    --color-status-bubble-shadow: #0000001e;
    --color-tab-alert-audio-playing-active-frame-active: #ffffffff;
    --color-tab-alert-audio-playing-active-frame-inactive: #ffffffff;
    --color-tab-alert-audio-playing-inactive-frame-active: #ffffffff;
    --color-tab-alert-audio-playing-inactive-frame-inactive: #bfbfbfff;
    --color-tab-alert-media-recording-active-frame-active: #f28b82ff;
    --color-tab-alert-media-recording-active-frame-inactive: #f28b82ff;
    --color-tab-alert-media-recording-inactive-frame-active: #f28b82ff;
    --color-tab-alert-media-recording-inactive-frame-inactive: #f28b82ff;
    --color-tab-alert-pip-playing-active-frame-active: #8ab4f8ff;
    --color-tab-alert-pip-playing-active-frame-inactive: #8ab4f8ff;
    --color-tab-alert-pip-playing-inactive-frame-active: #8ab4f8ff;
    --color-tab-alert-pip-playing-inactive-frame-inactive: #8ab4f8ff;
    --color-hover-card-tab-alert-media-recording-icon: #f28b82ff;
    --color-hover-card-tab-alert-pip-playing-icon: #8ab4f8ff;
    --color-hover-card-tab-alert-audio-playing-icon: #ffffffff;
    --color-tab-background-active-frame-active: #353535ff;
    --color-tab-background-active-frame-inactive: #353535ff;
    --color-tab-background-inactive-frame-active: #000000ff;
    --color-tab-background-inactive-frame-inactive: #000000ff;
    --color-tab-background-inactive-hover-frame-active: #151515ff;
    --color-tab-background-inactive-hover-frame-inactive: #151515ff;
    --color-tab-background-selected-frame-active: #282828ff;
    --color-tab-background-selected-frame-inactive: #282828ff;
    --color-tab-background-selected-hover-frame-active: #2d2d2dff;
    --color-tab-background-selected-hover-frame-inactive: #2d2d2dff;
    --color-tab-close-button-focus-ring-active: #4285f4ff;
    --color-tab-close-button-focus-ring-inactive: #4285f4ff;
    --color-tab-focus-ring-active: #4285f4ff;
    --color-tab-focus-ring-inactive: #4285f4ff;
    --color-tab-foreground-active-frame-active: #ffffffff;
    --color-tab-foreground-active-frame-inactive: #ffffffff;
    --color-tab-foreground-inactive-frame-active: #ffffffff;
    --color-tab-foreground-inactive-frame-inactive: #bfbfbfff;
    --color-tab-divider-frame-active: #353535ff;
    --color-tab-divider-frame-inactive: #353535ff;
    --color-tab-hover-card-background: #202124ff;
    --color-tab-hover-card-foreground: #5f6368ff;
    --color-tab-hover-card-secondary-text: #e8eaedff;
    --color-tab-group-tab-strip-frame-active-grey: #dadce0ff;
    --color-tab-group-tab-strip-frame-active-blue: #8ab4f8ff;
    --color-tab-group-tab-strip-frame-active-red: #f28b82ff;
    --color-tab-group-tab-strip-frame-active-yellow: #fdd663ff;
    --color-tab-group-tab-strip-frame-active-green: #81c995ff;
    --color-tab-group-tab-strip-frame-active-pink: #ff8bcbff;
    --color-tab-group-tab-strip-frame-active-purple: #c58af9ff;
    --color-tab-group-tab-strip-frame-active-cyan: #78d9ecff;
    --color-tab-group-tab-strip-frame-active-orange: #fcad70ff;
    --color-tab-group-tab-strip-frame-inactive-grey: #dadce0ff;
    --color-tab-group-tab-strip-frame-inactive-blue: #8ab4f8ff;
    --color-tab-group-tab-strip-frame-inactive-red: #f28b82ff;
    --color-tab-group-tab-strip-frame-inactive-yellow: #fdd663ff;
    --color-tab-group-tab-strip-frame-inactive-green: #81c995ff;
    --color-tab-group-tab-strip-frame-inactive-pink: #ff8bcbff;
    --color-tab-group-tab-strip-frame-inactive-purple: #c58af9ff;
    --color-tab-group-tab-strip-frame-inactive-cyan: #78d9ecff;
    --color-tab-group-tab-strip-frame-inactive-orange: #fcad70ff;
    --color-tab-group-dialog-grey: #dadce0ff;
    --color-tab-group-dialog-blue: #8ab4f8ff;
    --color-tab-group-dialog-red: #f28b82ff;
    --color-tab-group-dialog-yellow: #fdd663ff;
    --color-tab-group-dialog-green: #81c995ff;
    --color-tab-group-dialog-pink: #ff8bcbff;
    --color-tab-group-dialog-purple: #c58af9ff;
    --color-tab-group-dialog-cyan: #78d9ecff;
    --color-tab-group-dialog-orange: #fcad70ff;
    --color-tab-group-context-menu-blue: #8ab4f8ff;
    --color-tab-group-context-menu-cyan: #78d9ecff;
    --color-tab-group-context-menu-green: #81c995ff;
    --color-tab-group-context-menu-grey: #dadce0ff;
    --color-tab-group-context-menu-orange: #fcad70ff;
    --color-tab-group-context-menu-pink: #ff8bcbff;
    --color-tab-group-context-menu-purple: #c58af9ff;
    --color-tab-group-context-menu-red: #f28b82ff;
    --color-tab-group-context-menu-yellow: #fdd663ff;
    --color-tab-group-bookmark-bar-grey: #dadce03d;
    --color-tab-group-bookmark-bar-blue: #8ab4f83d;
    --color-tab-group-bookmark-bar-red: #f28b823d;
    --color-tab-group-bookmark-bar-yellow: #fdd6633d;
    --color-tab-group-bookmark-bar-green: #81c9953d;
    --color-tab-group-bookmark-bar-pink: #ff8bcb3d;
    --color-tab-group-bookmark-bar-purple: #c58af93d;
    --color-tab-group-bookmark-bar-cyan: #78d9ec3d;
    --color-tab-group-bookmark-bar-orange: #fcad703d;
    --color-tab-stroke-frame-active: #626262ff;
    --color-tab-stroke-frame-inactive: #626262ff;
    --color-tabstrip-loading-progress-background: #464e5bff;
    --color-tabstrip-loading-progress-foreground: #8ab4f8ff;
    --color-tabstrip-scroll-container-shadow: #0000004d;
    --color-tab-throbber: #ffffffff;
    --color-tab-throbber-preconnect: #ffffffff;
    --color-tab-search-background: #ff0000ff;
    --color-tab-search-divider: #ff0000ff;
    --color-tab-search-media-icon: #ff0000ff;
    --color-tab-search-media-recording-icon: #ff0000ff;
    --color-tab-search-primary-foreground: #ff0000ff;
    --color-tab-search-secondary-foreground: #ff0000ff;
    --color-tab-search-scrollbar-thumb: #ff0000ff;
    --color-thumbnail-tab-background: #8ab4f8ff;
    --color-thumbnail-tab-foreground: #202124ff;
    --color-thumbnail-tab-strip-background-active: #000000ff;
    --color-thumbnail-tab-strip-background-inactive: #000000ff;
    --color-thumbnail-tab-strip-tab-group-frame-active-grey: #dadce0ff;
    --color-thumbnail-tab-strip-tab-group-frame-active-blue: #8ab4f8ff;
    --color-thumbnail-tab-strip-tab-group-frame-active-red: #f28b82ff;
    --color-thumbnail-tab-strip-tab-group-frame-active-yellow: #fdd663ff;
    --color-thumbnail-tab-strip-tab-group-frame-active-green: #81c995ff;
    --color-thumbnail-tab-strip-tab-group-frame-active-pink: #ff8bcbff;
    --color-thumbnail-tab-strip-tab-group-frame-active-purple: #c58af9ff;
    --color-thumbnail-tab-strip-tab-group-frame-active-cyan: #78d9ecff;
    --color-thumbnail-tab-strip-tab-group-frame-active-orange: #fcad70ff;
    --color-thumbnail-tab-strip-tab-group-frame-inactive-grey: #dadce0ff;
    --color-thumbnail-tab-strip-tab-group-frame-inactive-blue: #8ab4f8ff;
    --color-thumbnail-tab-strip-tab-group-frame-inactive-red: #f28b82ff;
    --color-thumbnail-tab-strip-tab-group-frame-inactive-yellow: #fdd663ff;
    --color-thumbnail-tab-strip-tab-group-frame-inactive-green: #81c995ff;
    --color-thumbnail-tab-strip-tab-group-frame-inactive-pink: #ff8bcbff;
    --color-thumbnail-tab-strip-tab-group-frame-inactive-purple: #c58af9ff;
    --color-thumbnail-tab-strip-tab-group-frame-inactive-cyan: #78d9ecff;
    --color-thumbnail-tab-strip-tab-group-frame-inactive-orange: #fcad70ff;
    --color-toolbar: #353535ff;
    --color-toolbar-background-subtle-emphasis: #202124ff;
    --color-toolbar-background-subtle-emphasis-hovered: #292a2dff;
    --color-toolbar-button-background-highlighted-default: #202124cc;
    --color-toolbar-button-border: #ffffff20;
    --color-toolbar-button-icon: #ffffffff;
    --color-toolbar-button-icon-default: #5f6368ff;
    --color-toolbar-button-icon-disabled: #ffffff61;
    --color-toolbar-button-icon-hovered: #ffffffff;
    --color-toolbar-button-icon-inactive: #ffffff6e;
    --color-toolbar-button-icon-pressed: #ffffffff;
    --color-toolbar-button-text: #ffffffff;
    --color-toolbar-content-area-separator: #636363ff;
    --color-toolbar-extension-separator-disabled: #ffffff6e;
    --color-toolbar-extension-separator-enabled: #000000ff;
    --color-toolbar-feature-promo-highlight: #8ab4f8ff;
    --color-toolbar-icon-container-border: #ffffff20;
    --color-toolbar-ink-drop: #ffffffff;
    --color-toolbar-ink-drop-hover: #ffffff14;
    --color-toolbar-ink-drop-ripple: #ffffff10;
    --color-toolbar-separator: #ffffff4d;
    --color-toolbar-separator-default: #ffffff4d;
    --color-toolbar-text: #ffffffff;
    --color-toolbar-text-default: #ffffffff;
    --color-toolbar-text-disabled: #ffffff61;
    --color-toolbar-text-disabled-default: #ffffff61;
    --color-toolbar-top-separator-frame-active: #626262ff;
    --color-toolbar-top-separator-frame-inactive: #626262ff;
    --color-web-authn-back-arrow-button-icon: #9aa0a6ff;
    --color-web-authn-back-arrow-button-icon-disabled: #9aa0a661;
    --color-web-authn-icon-color: #8ab4f8ff;
    --color-web-authn-pin-textfield-bottom-border: #8ab4f8ff;
    --color-web-authn-progress-ring-background: #8ab4f847;
    --color-web-authn-progress-ring-foreground: #8ab4f8ff;
    --color-web-contents-background: #353535ff;
    --color-web-contents-background-letterboxing: #0b0b0bff;
    --color-web-ui-tab-strip-background: #000000ff;
    --color-web-ui-tab-strip-focus-outline: #4285f4ff;
    --color-web-ui-tab-strip-indicator-capturing: #ffffffff;
    --color-web-ui-tab-strip-indicator-pip: #ffffffff;
    --color-web-ui-tab-strip-indicator-recording: #f28b82ff;
    --color-web-ui-tab-strip-scrollbar-thumb: #ffffffb2;
    --color-web-ui-tab-strip-tab-active-title-background: #8ab4f8ff;
    --color-web-ui-tab-strip-tab-active-title-content: #202124ff;
    --color-web-ui-tab-strip-tab-background: #353535ff;
    --color-web-ui-tab-strip-tab-blocked: #8ab4f8ff;
    --color-web-ui-tab-strip-tab-loading-spinning: #ffffffff;
    --color-web-ui-tab-strip-tab-separator: #ffffff28;
    --color-web-ui-tab-strip-tab-text: #ffffffff;
    --color-web-ui-tab-strip-tab-waiting-spinning: #ffffffff;
    --color-window-control-button-background-active: #000000ff;
    --color-window-control-button-background-inactive: #000000ff;
    --color-read-anything-background: #202124ff;
    --color-read-anything-background-blue: #d2e3fcff;
    --color-read-anything-background-dark: #202124ff;
    --color-read-anything-background-light: #f1f3f4ff;
    --color-read-anything-background-yellow: #feefc3ff;
    --color-read-anything-foreground: #e8f0feff;
    --color-read-anything-foreground-blue: #3c4043ff;
    --color-read-anything-foreground-dark: #e8f0feff;
    --color-read-anything-foreground-light: #3c4043ff;
    --color-read-anything-foreground-yellow: #3c4043ff;
    --color-read-anything-separator: #3c4043ff;
    --color-read-anything-separator-blue: #9aa0a6ff;
    --color-read-anything-separator-dark: #3c4043ff;
    --color-read-anything-separator-light: #dadce0ff;
    --color-read-anything-separator-yellow: #9aa0a6ff;
    --color-read-anything-dropdown-background: #202124ff;
    --color-read-anything-dropdown-background-blue: #d2e3fcff;
    --color-read-anything-dropdown-background-dark: #202124ff;
    --color-read-anything-dropdown-background-light: #ffffffff;
    --color-read-anything-dropdown-background-yellow: #fef7e0ff;
    --color-read-anything-dropdown-selected: #3c4043ff;
    --color-read-anything-dropdown-selected-blue: #aecbfaff;
    --color-read-anything-dropdown-selected-dark: #3c4043ff;
    --color-read-anything-dropdown-selected-light: #e8eaedff;
    --color-read-anything-dropdown-selected-yellow: #fde293ff;
    --color-read-anything-text-selection: #aecbfaff;
    --color-read-anything-text-selection-blue: #feefc3ff;
    --color-read-anything-text-selection-dark: #aecbfaff;
    --color-read-anything-text-selection-light: #feefc3ff;
    --color-read-anything-text-selection-yellow: #d2e3fcff;
    --color-read-anything-link-default: #8ab4f8ff;
    --color-read-anything-link-default-blue: #174ea6ff;
    --color-read-anything-link-default-dark: #8ab4f8ff;
    --color-read-anything-link-default-light: #185abcff;
    --color-read-anything-link-default-yellow: #174ea6ff;
    --color-read-anything-link-visited: #d7aefbff;
    --color-read-anything-link-visited-blue: #681da8ff;
    --color-read-anything-link-visited-dark: #d7aefbff;
    --color-read-anything-link-visited-light: #681da8ff;
    --color-read-anything-link-visited-yellow: #681da8ff;
    --color-read-anything-focus-ring-background: #8ab4f8ff;
    --color-read-anything-focus-ring-background-blue: #1a73e8ff;
    --color-read-anything-focus-ring-background-dark: #8ab4f8ff;
    --color-read-anything-focus-ring-background-light: #4285f4ff;
    --color-read-anything-focus-ring-background-yellow: #4285f4ff;
    --color-accent-border-active: #262626a8;
    --color-accent-border-inactive: #55555580;
    --color-caption-button-foreground-active: #ffffffff;
    --color-caption-button-foreground-inactive: #ffffffff;
    --color-caption-close-button-background-hovered: #e81123ff;
    --color-caption-close-button-foreground-hovered: #ffffffff;
    --color-caption-foreground-active: #ffffffff;
    --color-caption-foreground-inactive: #ffffff66;
    --color-tab-search-caption-button-focus-ring: #4285f4ff;
    --color-try-chrome-background: #1f1f1fff;
    --color-try-chrome-border: #80808080;
    --color-try-chrome-button-background-accept: #0078daff;
    --color-try-chrome-button-background-no-thanks: #ffffff33;
    --color-try-chrome-button-foreground: #ffffffff;
    --color-try-chrome-foreground: #ffffffad;
    --color-try-chrome-header-foreground: #ffffffff;
}